* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.explicacaoBoxSizing {
  background-color:brown;
  width: 200px;
  height: 200px;
  border: solid rosybrown 30px;
  padding: 20px;
}

.exemploElementoBlock {
  border: solid 5px red;
  width: 400px;
  margin-bottom: 20px;
  margin: 30px;
}

.exemploElementoInline {
  border: solid 5px blue;
  padding: 10px;
  margin: 30px;
}

.exemploDisplayInlineBlock {

  h2 {
    background-color:crimson;
    border: solid 5px black;
    display: inline-block;
    width: 200px;
    padding-left: 40px;
    margin: 30px;
  }
}

.exemploRGB {
  //OS VALORES SÃO DE 0 A 255
  background-color: rgb(23, 55, 31);
}


.exemploHexadecimal {
  // 0 A 9 E 1 AO F - maximo de caracteres é 6
  background-color: #e300aa;
}